@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body {
  font-family: 'PT Sans Narrow', sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 20px;

  li {
    position: relative;
    @extend %t-normal;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      left: -18px;
      width: 7px;
      height: 7px;
      display: block;
      background-color: $black;
      content: '';
    }
  }
}

.btn {
  background-color: $black;
  color: $white;
  text-decoration: none;
  display: block;
  text-align: center;
  max-width: 140px;
  width: 100%;
  border: none;
  @extend %t-normal;
  padding: 10px 0;
  transition: ease all 0.3s;

  &:hover {
    background-color: $brown;
    color: $white;
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &--wide {
    max-width: 100%;
  }
}

.container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: $black;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__link {
    padding: 28px 20px;
    transition: ease all 0.3s;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: $white;

    &:hover {
      background-color: $gray;
      color: $white;
      text-decoration: none;
    }
  }

  &__logo {
    padding: 25px 20px;
  }

  &__login {
    display: flex;
    align-items: center;
    margin-left: auto;

    svg {
      margin-right: 15px;
      width: 14px;
      height: 14px;
    }

    path {
      fill: $dark-gray;
      transition: ease all 0.3s;
    }

    &:hover path {
      fill: $white;
    }
  }
}

.caption {
  @extend %h1-caption;
  margin-bottom: 10px;
}

.breadcrumb {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;

  &__item {
    @extend %t-normal;
    position: relative;
    margin-left: 43px;

    a {
      text-decoration: none;
      color: $black;
    }

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      left: -23px;
      width: 7px;
      height: 7px;
      display: block;
      background-color: $black;
      content: '';
    }

    &:first-child {
      margin: 0;

      &::before {
        display: none;
      }
    }

    &:last-child {
      color: $bread-c;
    }
  }
}

// Main-page

.main {
  position: relative;
  padding: 60px 0 65px;
  background-color: $black;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &__caption {
    position: absolute;
    opacity: 0;
    left: -100%;
  }
}

// Main logo

.main-logo {
  max-width: 370px;
  max-height: 155px;
  margin: 0 auto 80px;
}

// About

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  margin-bottom: 64px;
  color: $white-gray;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    @extend %h1-caption;
    margin-bottom: 15px;
  }

  &__square {
    width: 20px;
    height: 20px;
    background-color: $white-gray;
    transform: rotate(45deg);
    margin-bottom: 30px;
  }

  &__text {
    @extend %t-normal;
  }
}

// Double

.double {
  background-image: url('../img/double-back.jpg');
  margin-bottom: 35px;
  padding: 45px 80px 50px;
  display: grid;
  grid-template-columns: 1fr 8px 1fr;
  column-gap: 35px;

  &__title {
    @extend %h1-caption;
    margin-bottom: 15px;
  }

  &__divider {
    width: 8px;
    height: 278px;
    background-image: url('../img/divider.png');
    background-repeat: no-repeat;
  }

  &__right {
    max-width: 300px;
    width: 100%;
    margin-left: auto;
  }
}

// News

.news {
  &__item {
    margin-bottom: 20px;
  }

  &__text {
    @extend %t-normal;
  }

  &__date {
    @extend %t-normal;
    text-transform: lowercase;
  }

  &__all {
    margin-top: 30px;
  }
}

// Gallery

.gallery {
  .slick__list {
    overflow: hidden;
  }

  .slick-arrow {
    position: absolute;
    bottom: -83px;
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }

  &__slider {
    padding: 7px;
    background-color: $white;
  }

  &__img {
    height: 165px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// Contacts

.contacts {
  &__text {
    @extend %t-normal;
    margin-bottom: 20px;
  }

  &__action {
    display: flex;
  }

  &__btn {
    margin-right: 20px;

    &:last-child {
      margin: 0;
    }
  }
}

// Sign

.sign {
  max-width: 300px;
  width: 100%;

  &__text {
    @extend %t-normal;
    margin-bottom: 15px;
  }

  &__form {
    display: grid;
    grid-template-columns: 140px 140px;
    gap: 5px 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;

    label {
      @extend %t-normal;
      margin-bottom: 5px;
      padding-left: 15px;
    }

    input {
      border: 2px solid $black;
      padding: 7px 15px;
      @extend %t-normal;
      text-transform: none;
      transition: ease all 0.3s;

      &:focus {
        outline: none;
        border-color: $brown;
      }
    }
  }

  &__send {
    grid-column: span 2;
    margin-top: 10px;
  }
}

// Price-list

.price-list {
  padding: 60px 0 65px;
  background-image: url('../img/double-back.jpg');
  box-shadow: 0 15px 30px $black;
  position: relative;

  &-motto {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;

    &__line {
      width: 100%;
      height: 2px;
      background-color: $black;
    }

    &__title {
      white-space: nowrap;
      margin: 0 25px;
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 100px;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @extend %h2-caption;
    margin-bottom: 30px;
  }

  &-table {
    border: 2px solid $black;

    &__item {
      border-bottom: 2px solid $black;
      display: grid;
      grid-template-columns: 1fr 1fr;

      &:last-child {
        border: none;
      }

      p {
        @extend %t-normal;
        padding: 10px 15px;

        &:last-child {
          border-left: 2px solid $black;
          text-align: center;
        }
      }
    }
  }

  &__text {
    margin-top: auto;
    @extend %t-normal;
    max-width: 385px;
  }
}

// Shop

.shop {
  padding: 60px 0 65px;
  background-image: url('../img/double-back.jpg');
  box-shadow: 0 15px 30px $black;
  position: relative;

  &__wrapper {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 170px auto;
    column-gap: 70px;
  }

  &-aside {
    &__item {
      margin-bottom: 35px;

      &:last-child {
        margin: 0;
      }
    }

    &__title {
      @extend %h2-caption;
      margin-bottom: 20px;
    }

    input {
      display: none;

      &:checked + label:after {
        opacity: 1;
      }
    }

    label {
      position: relative;
      padding-left: 40px;
      cursor: pointer;
      white-space: pre-wrap;
      @extend %t-normal;
      line-height: 18px;
      margin-bottom: 15px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 2px solid $black;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        transition: ease all 0.3s;
        opacity: 0;
      }
    }

    &__check label:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M11.12 2a.4.4 0 0 1 0 .57L8 5.71a.4.4 0 0 0 0 .57l3.14 3.14a.4.4 0 0 1 0 .57L10 11.13a.41.41 0 0 1-.57 0L6.27 8a.41.41 0 0 0-.57 0l-3.14 3.12a.41.41 0 0 1-.57 0L.85 10a.4.4 0 0 1 0-.57L4 6.28a.4.4 0 0 0 0-.57L.85 2.57a.4.4 0 0 1 0-.57L2 .86a.41.41 0 0 1 .57 0L5.7 4a.4.4 0 0 0 .57 0L9.41.87a.41.41 0 0 1 .57 0z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &__radio {
      label {
        &:before {
          border-radius: 50%;
        }

        &:after {
          width: 9px;
          height: 9px;
          top: 5.5px;
          left: 6px;
          background-color: $black;
          border-radius: 50%;
        }
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .pagination {
      grid-column: span 2;
      margin-top: 20px;
    }
  }

  &-item {
    background-color: $white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
    color: $black;
    transition: ease all 0.3s;

    &:hover {
      text-decoration: none;
      color: $black;
      box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.1);
    }

    &__img {
      background-color: #f8f8f8;
      height: 165px;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__content {
      padding: 16px;
    }

    &__title {
      @extend %t-normal;
      line-height: 18px;
      text-transform: none;
    }

    &__maker {
      @extend %t-normal;
      line-height: 18px;
      margin-bottom: 10px;
    }

    &__price {
      display: grid;
      grid-template-columns: auto 78px;
      background-color: #e5e5e5;

      p {
        @extend %t-normal;
        line-height: 18px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// Pagination

.pagination {
  display: flex;

  &__link {
    margin-right: 7px;
    width: 43px;
    height: 43px;

    &:last-child {
      margin: 0;
    }

    &.active {
      background-color: $white;
      color: $black;
      cursor: unset;
    }
  }
}

.product {
  padding: 60px 0 65px;
  background-image: url('../img/double-back.jpg');
  box-shadow: 0 15px 30px $black;
  position: relative;

  &__wrapper {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 460px auto;
    column-gap: 15px;
  }

  &-slider {
    &__list {
      background-color: $white;
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
      margin-bottom: 20px;
    }

    &__img {
      height: 498px;
      max-width: 460px;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__nav {
      .slick-list {
        overflow: visible;
      }
    }

    &__item {
      cursor: pointer;
      background-color: $white;
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
      height: 149px;
      max-width: 140px;
      width: 100%;
      margin-left: 20px;
      transition: ease all 0.3s;

      &:hover {
        box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.1);
      }

      &:first-child {
        margin: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__content {
    max-width: 390px;
    width: 100%;
    margin-left: auto;
  }

  &__top {
    display: flex;
    @extend %t-normal;
    margin-top: 15px;

    p {
      margin-bottom: 25px;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
        margin-left: auto;
        color: #aeaeae;
      }
    }
  }

  &__text {
    @extend %t-normal;
    margin-bottom: 25px;
  }

  &__price {
    max-width: 188px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 78px;
    background-color: #e5e5e5;
    margin-bottom: 60px;

    p {
      @extend %t-normal;
      line-height: 18px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__list-title {
    @extend %h2-caption;
    margin-bottom: 30px;
  }
}

// Footer

.footer {
  padding: 55px 0 40px;
  background-color: $black;
  background-image: url('../img/footer-bg.jpg');
  background-position: 50% 50%;

  &__wrapper {
    display: flex;
  }

  &__contacts {
    margin-right: 90px;
    @extend %t-normal;
    color: $white;
  }

  &__link,
  &__link:hover {
    color: $white;
    text-decoration: underline;
  }

  &__tel,
  &__tel:hover {
    color: $white;
  }

  &__title {
    @extend %t-normal;
    color: $white;
    margin-bottom: 15px;
    text-align: center;
  }

  &__list {
    display: flex;
  }

  &__icon {
    margin-right: 5px;
    background-color: $black;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: ease all 0.3s;

    path {
      transition: ease all 0.3s;
    }

    &:hover {
      background-color: $white;

      path {
        fill: $black;
      }
    }

    &:last-child {
      margin: 0;
    }
  }

  &__copyright {
    margin-left: auto;
    max-width: 140px;
    width: 100%;
  }

  &__btn {
    margin-bottom: 5px;

    &:hover {
      background-color: $white;
      color: $black;
    }

    &:last-child {
      margin: 0;
    }
  }
}
