/**
  Десктоп маленький
 */
@media screen and (max-width: 1429px) {
}

/**
  Планшет горизонтальный
 */
@media screen and (max-width: 1279px) {
}

/**
  Планшет вертикальный
 */
@media screen and (max-width: 1023px) {
}

/**
  Мобильные устройства
 */
@media screen and (max-width: 767px) {
}
