/**
  Переменные для отступов
 */

$offset-1: 8px;
$offset-2: 16px;
$offset-3: 24px;
$offset-4: 32px;
$offset-5: 40px;
$offset-6: 48px;

/**
  Переменные для цветов
 */
$black: #000000;
$brown: #663d15;
$orange: #f7941f;
$white: #ffffff;
$white-gray: #f7f4f1;
$bread-c: #aba9a7;
$gray: #242424;
$dark-gray: #4d4d4d;

/**
  Переменные для шрифтов
 */

$font-size-1: 12px;
$font-size-2: 16px;
$font-size-3: 18px;
$font-size-4: 24px;
$font-size-5: 36px;

%t-normal {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

%h1-caption {
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

%h2-caption {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

%h3-caption {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
